.pager-wrapper {display:flex; justify-content:center; margin: 1em 0;}
.pager-wrapper .pager-wrap {display:flex; justify-content:center;}
.pager-wrapper .pager-wrap .pager {width:36px; height:36px; border:1px solid #dedede; margin-right:-1px; font-size: .875em;}
.pager-wrapper .pager-wrap .pager.active {background-color:#073141; color:#fff;}
.pager-wrapper .pager-wrap .pager a {display:flex; justify-content:center; align-items:center; width:100%; height:100%; text-decoration: none; color:inherit;}